{{#rows}}
    <tr id={{id}}>
        <td scope=col><div class="name">{{name}}</div></td>
        <td scope=col><div class="maturity">{{mat}}</div></td>
        <td scope=col><div class="lifespan">{{life}}</div></td>
        <td scope=col><div class="cps-cost">{{ccost}}</div></td>
        <td scope=col><div class="min-cost">{{mcost}}</div></td>
    </tr>
{{/rows}}